/*
	Negro
*/
body{
	background-color:#fefefe;
}
a.boton:hover{
	color:#444444;
}
table{
	border:#efefef solid 1px;
}
table th{
	background-color:#efefef;
}
table tr:hover td{
	background-color:#efefef;
}
.resaltado{
	background-color:#444444;
	border:#555555 solid 1px;
}
.resaltado:hover{
	background-color:#555555;
}
.mensaje{
	border:#e0e0e0 solid 1px;
	background-color:#ededed;
}
#cabecera{
	background-color:#333333;
	color:#fefefe;
}
#cabecera a{
	color:#fefefe;
}
#cabecera #opciones_cabecera ul li a:hover{
	background-color:#666666;
}
#cabecera .lista h2{
	background-image:url('../imagenes/expandir.png');
}
#cabecera .lista h2.contraido{
	background-image:url('../imagenes/contraer.png');
}
#cabecera .lista h2:hover{
	background-color:#444444;
}
#cabecera .lista li ul li a:hover{
	background-color:#444444;
}
#cuerpo #barra{
	background-color:#444444;
	color:#fefefe;
}
#cuerpo #barra.panel ul li a:hover{
	background-color:#555555;
}
#cuerpo #barra a{
	color:#fefefe;
}
#cuerpo #barra .lista li.resaltado{
	background-color:#555555;
}
#cuerpo #barra .lista li.resaltado a:hover, #cuerpo #barra .lista li ul li a:hover{
	background-color:#666666;
}
#cuerpo #sin_columnas{
	border:#efefef solid 1px;
}
#cuerpo #contenido .paneles li{
	border:#e0e0e0 solid 1px;
}
#cuerpo #contenido a{
	color:#333333;
}
#cuerpo #contenido form#agregar_local{
	border:#eeeeee solid 1px;
}
.lista.locales .local{
	border:#e9e9e9 solid 1px;
}
.lista.locales .local.alt{
	background-color:#efefef;
	border:#e0e0e0 solid 1px;
}
.lista.locales .local h4{
	border-bottom:#e9e9e9 solid 1px;
}
.lista.locales .local.alt h4{
	border-bottom:#e0e0e0 solid 1px;
}
.local h4{
	border-bottom:#444444 solid 1px;
}
.pagination a, .pagination .disabled, .pagination .current{
	border:1px solid #bbbbbb;
	color:#333333;
}
.pagination a{
	background-color:#efefef;
}
.pagination a:hover{
	background-color:#bbbbbb;
	color:#fefefe;
	border:1px solid #333333;
}
h5#comentarios{
	border-bottom:#333333 solid 1px;
}
#lista_comentarios li{
	border:#f0f0f0 solid 1px;
}
#lista_comentarios li.alt{
	background-color:#efefef;
	border:#e0e0e0 solid 1px;
}
#paginacion li a:hover{
	background-color:#efffff;
}
#pie{
	background-color:#333333;
	color:#fefefe;
}
#pie a{
	color:#fefefe;
}